<!-- <h1>Search</h1> -->

<main class="">
    <div class="items-center justify-center flex pt-4">
        <img class="w-36" src="logo.png">
    </div>
    <h1 class="text-4xl pt-5 font-bold text-black text-center">
        RAG with Weaviate
    </h1>

    <div class="items-center pb-6 pt-10 p-8">
        <h2 class="sr-only">Steps</h2>

        <div class="items-center flex justify-center">
            <p class="text-center text-m">
                Search through whatever you want!
            </p>
        </div>
    </div>

    <div class="justify-center items-center">
        <div class="flex flex-col items-center justify-center pt-3">
            <label class="block text-xs font-medium text-gray-700"> Query </label>

            <input [(ngModel)]="query" type="text" id="SearchTerm" placeholder="what are you looking for?"
                class="w-3/5 rounded-md border-gray-200 bg-slate-300 py-2.5 pl-4 pe-10 shadow-sm sm:text-sm placeholder:text-gray-800" />
        </div>
        <div class="flex flex-col items-center justify-center pt-3">
            <label class="block text-xs font-medium text-gray-700"> Prompt </label>

            <input [(ngModel)]="prompt" type="text" id="Prompt" placeholder="your prompt"
             class="w-1/3 rounded-md border-gray-200 bg-slate-300 px-8 py-2.5 pl-4 pe-10 shadow-sm sm:text-sm placeholder:text-gray-800" />
        </div>
        <p class="item-center flex justify-center text-xs text-gray-600 pt-2 pb-4">
            try and search for "dynamics of flight"
        </p>

        <div class="flex items-start justify-center pt-3 gap-2">
            <button (click)="rag()"
                class="inline-block rounded border border-white bg-black px-12 py-3 text-sm font-medium text-lime-500 transition hover:border-black hover:bg-lime-500 hover:text-black focus:outline-none focus:ring focus:ring-yellow-400">
                RAG Search
            </button>
        </div>

        <div *ngIf="result$ | async as result" class="grid grid-cols-3">
            <div class="flex items-start justify-center col-span-3 pt-4">
                <div
                class="item-start flex z-10 mt-2 w-[750px] divide-y divide-gray-100 rounded-md border border-gray-100 bg-slate-200 shadow-s"
                role="menu">
                    <div *ngIf="result.generated" class="p-2">
                        <p> {{ result.generated }} </p>
                    </div>
                </div>
            </div>
            <div class="flex justify-center col-span-3 translate-y-[1rem] pb-10">
                <div
                    class="flex z-10 mt-2 w-[750px] divide-gray-100 rounded-md border border-gray-100 bg-slate-200 shadow-s"
                    role="menu">
                    <div class="p-2">
                    <p class="pt-2 font-bold">ℹ️ Sources (From Vector Search)</p>
                    <p class="pb-2"> Find out what powered the response from your LLM</p>
                    <ol *ngFor="let item of result.objects">
                        <li class="space-y-4">
                        <a class="underline"> {{ item.properties.text }} </a>
                        </li>
                    </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
