<main div class="flex min-h-screen w-full flex-col items-center">
    <div class="items-center justify-center flex pt-4">
        <img class="w-36" src="logo.png">
    </div>
    <h1 class="text-4xl pt-5 font-bold text-black text-center">
        Semantic Search with Weaviate
    </h1>

    <div class="items-center pb-6 pt-10 p-8">
        <h2 class="sr-only">Steps</h2>

        <div class="items-center flex justify-center">
            <p class="text-center text-m">
                Search through what ever you want!
            </p>
        </div>
    </div>

    <div class="justify-center items-center">
        <div class="flex items-center justify-center pt-3">
            <label for="Search" class="sr-only"> Search </label>

            <input [(ngModel)]="query" type="text" id="SearchTerm" placeholder="what are you looking for?"
                class="w-2/3 rounded-md border-gray-200 bg-slate-300 py-2.5 pl-4 pe-10 shadow-sm sm:text-sm placeholder:text-gray-800" />
        </div>
        <p class="item-center flex justify-center text-xs text-gray-600 pt-2 pb-4">
            try and search for "posts on animals"
        </p>

        <div class="flex items-start justify-center pt-3 gap-2">
            <button (click)="search()"
                class="inline-block rounded border border-white bg-black px-12 py-3 text-sm font-medium text-lime-500 transition hover:border-black hover:bg-lime-500 hover:text-black focus:outline-none focus:ring focus:ring-yellow-400">
                Semantic Search
            </button>

            <button (click)="hybrid()"
                class="inline-block rounded border border-white bg-black px-12 py-3 text-sm font-medium text-lime-500 transition hover:border-black hover:bg-lime-500 hover:text-black focus:outline-none focus:ring focus:ring-yellow-400">
                Hybrid Search
            </button>
        </div>

        <div *ngIf="result$ | async as result" class="flex items-start justify-center">
            <div class="item-start absolute flex z-10 mt-2 w-[750px] divide-y divide-gray-100 rounded-md border border-gray-100 bg-slate-200 shadow-lg"
                role="menu">
                <div class="p-2 px-5">
                    <strong class="block pb-5 text-xs font-bold  text-black">
                        Results
                    </strong>
                   
                    <div *ngFor="let item of result.objects">
                        <div class="space-y-4 pt-5">
                            <a class="font-medium text-2xl pt-4 underline" :href="result.properties.url">
                                {{ item.properties.title }}
                            </a>
                            <h1 class="-translate-y-1 w-full">
                                {{ item.properties.text }}
                            </h1>
                        </div>
                        <div>
                            <span *ngIf="item.metadata.score"
                                class="whitespace-nowrap rounded-md bg-lime-100 px-2.5 py-0.5 text-sm text-black">
                                {{item.metadata.score}}
                            </span>
                            <span *ngIf="item.metadata.distance"
                                class="whitespace-nowrap rounded-md bg-lime-100 px-2.5 py-0.5 text-sm text-black">
                                {{item.metadata.distance}}
                            </span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>